---
layout: default
---

<div class="blog-index">
    <article>
      <section>
            <ul>    
              <li>Loving <b>Games &amp; Walking</b></li>
              <li>Living in <u>Chengdu, China</u></li>
              <li>Sharing on <a href="http://www.douban.com/people/litekok"><i>Douban</i></a> &amp; <a href="http://weibo.com/209998588"><i>Weibo</i></a></li>
              <li>Learning at <a href="http://one.laptop.org"><i>OLPC</i></a> &amp; <a href="http://www.chengdu-open-party.org"><i>OpenParty Chengdu</i></a></li>      
              <li>Coding on <a href="http://github.com/lite"><i>Github</i></a></li>      
            </ul>
            <p>
              <img src="/favicon.png" title="Lite" alt="Lite" />
            </p>
      </section>
    </article>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
